@media(max-width:575px) {
    .promo {
        .container {
            width: 100%;
        }
        .header {
            padding: 0 4px;
            &__logo {
                img {
                    width: 95%;
                }
            }
            &__official {
                font-size: 10px;
                padding-right: 7px;
                span {
                    font-size: 11px;
                }
            }
            &__phone {
                font-size: 13px;
            }
           
        }
        &__header{
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            margin: 0 auto;
        }
        &__subheader {
            font-size: 24px;
            line-height: 24px;
            text-align: center;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 45px;
            width: 310px;  
        }
        &__icon {
            font-size: 12px;
        }
        .button {
            width: 120px;
            font-size: 10px;
            &_main {
                width: 303px;
                margin: 0 auto;
                margin-top: 67px;
                height: 54px;
                font-size: 16px;
            }
        }
        &__link {
            margin: 0 auto;
            margin-top: 10px;
            
        }

    }
    .avantages {
        .container{
            max-width: 100%;
        }
        .title{
            font-size: 24px;
            line-height: 24px;
        }
        &__icons {
            width: 100%;
            flex-direction: column;
        }
        &__icon {
            width: 75%;
            margin: 0 auto;
            padding: 0 10px;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            margin-top: 15px;
            &:first-child {
                margin-top: 0;
            }
        }
     
    }
    .consultation {
        // padding: 65px 0 91px 0;
        .title_left{
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            text-align: center;
        }
        .consultation__descr {
            font-size: 15px;
            line-height: 30px;
            color: #FFFFFF;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }

    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin: 5px 0;
            cursor: none;
            &:hover {
                box-shadow: none;
                border: 2px solid $main_color;
            }                
        }
        &-item {
            margin: 0 auto;

        }
    }
    .feedbacks {
        .title {
            font-size: 26px;
        }
        &__text {
            flex-direction: column;
            align-items: center;
            }
        &__img {
            justify-content: center;
            }
        &__descr {
            width: 88%;
            margin: auto 60px;
            margin-top: 20px;

            }
        &__header, &__subtitle {
            text-align: center;
        }
    }
   
    
}