.catalog {
    padding-bottom: 79px;
    &__tabs {
        margin-top: 46px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: #6B6B6B;
        text-align: center;
        line-height: 50px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main_color;
            border: none;
        }
        div{
        transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main_color;
            border: none;
    
        }
    }
    .catalog__content {
        margin-top: 57px;
        
    }
    
}