.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        width: 251px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }

    }
}